* { box-sizing: border-box; }
body {
  font-family: Arial, sans-serif;
  background:#011507;
  margin:0;
  padding:20px;
  color:#222;
}
.container {
  display:flex;
  gap:24px;
  align-items:flex-start;
}
#frame{
text-align:center;
padding: 10px 0 30px 0;}
.left, .right {
  background:#fff;
  border-radius:10px;
  padding:18px;
  box-shadow:0 6px 18px rgba(16,24,40,0.06);
}
.left { width:380px; }
.right { flex:1; min-width:540px; }

textarea {
  width:100%;
  height:100px;
  padding:10px;
  border-radius:8px;
  border:1px solid #dde6ef;
  resize:vertical;
  font-size:13px;
  line-height:1.4;
}
input {
  width:100%;
  padding:10px;
  border:1px solid #dde6ef;
  border-radius:8px;
  margin-top:8px;
  margin-bottom:12px;
}
.buttons { display:flex; gap:10px; margin-top:8px; }
button {
  padding:10px 14px;
  border-radius:8px;
  border:none;
  background:#0069ff;
  color:#fff;
  cursor:pointer;
  font-weight:600;
}
button:hover { opacity:0.95; }
.resim{
margin:5px 0 0 10px;
}
.note { font-size:15px; color:#666; margin-top:10px; line-height:1.4;}

table {
  width:100%;
  border-collapse:collapse;
  font-size:14px;
}
th, td {
  border:1px solid #e6eef7;
  padding:10px;
  text-align:center;
}
th { background:#011507; font-weight:700; color:#ffffff;border-radius:8px;}
tr:hover{
background:#57BEED;
font-weight:700;
}
.league-row td {
  background:#23FF1F;
  font-weight:700;
  text-align:left;
  padding-left:12px;
}
.missing { color:#b45a00; font-style:italic; background:#fff8e6;}

.menu{
margin:20px 0;
  display: flex;
  justify-content: center; /* Ortalar */
  align-items: center;
  gap: 20px;  

}
a.animated-button{
width:260px;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}



/* Victoria Buttons */

a.animated-button.victoria-one {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-one:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
